{{ define "main" }}

{{/* We iterate over all datapoints, and if the site's id matches on in datapoinst we continue */}}

  {{ $param_id:=.Params.id}}
  {{ range .Site.Data.bugs}}
    {{ if (eq .id $param_id) }}
    {{ $faulthashshort:=(substr .faultcommit 0 8 )}}
    {{ $fixhashshort:=(substr .fixcommit 0 8 )}}
    {{ $repourl:=(print "https://www." (replace (substr .repositoryurl 4) ":" "/"))}}
    {{ $faulturl:=(print $repourl "/commit/" .faultcommit)}}
    {{ $fixurl:=(print $repourl "/commit/" .fixcommit)}}
      <section class="section blog-single py-5">
        <div class="container">
          <div class="row justify-content-center pb-5">
            <div id="title-and-description" class="flex-column" style="width:60%">
              <div class="col-12">
                {{ with .id }}
                  <h2 class="display-1 fw-bold text-left text-primary pb-3">{{ . }}</h2>
                {{ end }}
                {{ with .description }}
                  <p class="text-black-61 text-left pb-3">{{ . }}</p>
                {{ end }}
              </div>
            </div>
            <div id="infobox"  class="flex-column"style="width:25%">
              {{partial "utilities/bug-infobox.html" .}} 
            </div>
          </div>
          <div id="detailed-info-box" class="row pb-5 justify-content-center" style="margin: 20px 20px 20px 20px;">
            {{ partial "utilities/detailed-bug-infobox.html" . }}
          </div>

          <div id="fix-and-fault-row" class="row pb-5">
              <div class="col-12 d-flex justify-content-center">
                <div id="fault-box" style="width: 45%; margin: 4px 4px 4px 4px;">
                  <p><a class="btn btn-outline-primary px-4 my-1 ms-xl-4" href="{{$faulturl}}">Faults @{{$faulthashshort}}<span class="ms-2">{{ partial "icons/arrow-right.html" }}</span></a></p>
                  {{partial "utilities/code-block.html" .faultlocations}}
                </div>
                <div id="fix-box" style="width: 45%; margin: 4px 4px 4px 4px;">
                  <p><a class="btn btn-outline-primary px-4 my-1 ms-xl-4" href="{{$fixurl}}">Fixes @{{$fixhashshort}}<span class="ms-2">{{ partial "icons/arrow-right.html" }}</span></a></p>
                  {{partial "utilities/code-block.html" .fixlocations}}
                </div>
                
                </div>
            </div>
          </div>
          
          </div>
        </div>
      </section>
    {{ end }}
  {{ else }}
    Troubles loading datapoints. 
  {{ end }}
  <div class="row justify-content-center pb-5" id="bug-navigation-footer"> 

    <div class="next-post" style="width: 18%;">
      {{ if .NextPage }}
      <a class="link-reverse btn btn-outline-primary px-4 my-1 ms-xl-4" href="{{ .NextPage.Permalink }}?ref=footer"><span class="ms-2">{{ partial "icons/arrow-left.html" }}</span>{{ .NextPage.Title | truncate 50 "..." }}</a>
      {{ end }}
    </div>
    <div class="previous-post" style="width: 18%;">
      {{ if .PrevPage }}
      <a class="link-reverse btn btn-outline-primary px-4 my-1 ms-xl-4" href="{{ .PrevPage.Permalink }}?ref=footer">{{ .PrevPage.Title | truncate 50 "..."}}<span class="ms-2">{{ partial "icons/arrow-right.html" }}</span></a>
      {{ end }}
    </div>

  </div>

{{ end }}