<style type="text/css">
    .tg  {border-collapse:collapse;border-spacing:0;}
    .ibtd {padding: 2px 2px 2px 2px; margin: 2px 2px 2px 2px}
    .ibtd category {width: 15%;}
    .ibtd content {width: 25%;}
    .ibtable { width: 100%;}
</style>

<div class="text-black-61  pb-3">
    <table class="ibtable">
    <thead> </thead>
    <tbody>
        <tr>
        <td class="ibtd-category" >Categories</td>
        <td class="ibtd-content">{{ partial "utilities/bubbly-list.html" .categories }}</td>
        <td class="ibtd-category">Test Framworks</td>
        <td class="ibtd-content">{{ partial "utilities/bubbly-list.html" .testframeworks }}</td>
        </tr>
        <tr>
        <td class="ibtd-category" >Related PRs</td>
        <td class="ibtd-content" >{{ partial "utilities/link-list.html" .relatedprs}}</td>
        <td class="ibtd-category" >Related Issues</td>
        <td class="ibtd-content" >{{ partial "utilities/link-list.html" .relatedissues}}</td>
        </tr>
    </tbody>
    </table>
</div>