<style type="text/css">
    .bulletpnt { text-align: right; font-size: larger; width: 20%;}
    .bulletcnt { width: 60%;}
</style>
<div> 
    <div class="row pb-4">
        <div class="bulletpnt">
            Categories:
        </div>
        <div class="bulletcnt">
            {{ partial "utilities/bubbly-list.html" .categories }}
        </div>
    </div>

    <div class="row pb-4">
        <div class="bulletpnt">
            Test Frameworks:
        </div>
        <div class="bulletcnt">
            {{ partial "utilities/bubbly-list.html" .testframeworks }}
        </div>
    </div>

    {{ $prs := .relatedprs}}
    {{ $issues := .relatedissues}}
    {{ with partial "func/HasValues" (union .relatedissues .relatedprs) }}
    <div class="row pb-4">
        <div class="bulletpnt">
            GitHub Artifacts :
        </div>
        <div class="bulletcnt">
            {{ partial "utilities/pr-list.html" (union $issues $prs) }}
        </div>
    </div>
    {{ end }}    
</div>